h1{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 4px 4px 0px black;
}


.action{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before{
    content: " ";
    display: inline-block;
    background-color: #FF789E;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
