#box{
    display: inline-block;
    background-color: #3A4042;
    position: absolute;
    left: 91px;
    top: 196px;
    box-shadow: 10px 10px 0px black;
    text-align: center;
    padding: 42px 44px;
}

#title h1{
    margin-bottom: 28px;
}