.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BB6CFE;
    box-shadow: 10px 10px 0px #fff;
    width: 280px;
    height: 280px;
}

.card-project.-blue{
    background-color: #4c5b84;
}

