.main-section{
    background-color: #FF789E;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom:  10px solid #CB6CE6;
   
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdFirst{
    border-color: #FF789E;
}

.main-section.-bgSecond{
    background-color: #CB6CE6 ;
}

.main-section.-bdPurple{
    border-color: #000;
}