.progress-bar{
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;	
    height: 40px;
}

progress::-webkit-progress-bar,
    progress::-moz-progress-bar {
      background-color: #BB6CFE;
}