.title{
    background-color: #3A4042;
    position: absolute;
    width: 627px;
    height: 184px;
    left: 91px;
    top: 196px;
    box-shadow: 10px 10px 0px black;
    
}

.title h1{
    font-family: 'Press Start 2P', sans-serif;
    color: #FF789E;
    font-size: 40px;
    text-shadow: 4px 4px 0px black;
    text-align: center;
    margin-top: 42px;
}

.title h2{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    font-size: 30px;
    text-shadow: 4px 4px 0px black;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 44px;
}

